name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Verificação de Entrega
      id: verificacao-de-entrega
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Verificação de Entrega
        setup-command: pip install pytest
        command: pytest tests/ -v
        timeout: 60
        max-score: 100
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        VERIFICACAO-DE-ENTREGA_RESULTS: "${{steps.verificacao-de-entrega.outputs.result}}"
      with:
        runners: verificacao-de-entrega
